<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.opti.rental.ui.category"
            name="%category.name">
      </category>
      <view
            category="com.opti.rental.ui.category"
            class="com.opti.rental.ui.views.RentalPropertyView"
            icon="icons/Customers.png"
            id="com.opti.rental.ui.propertyView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="com.opti.rental.ui.category"
            class="com.opti.rental.ui.views.AgenciesView"
            icon="icons/RentalObjects.png"
            id="com.opti.rental.ui.view.agency"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.opti.rental.ui.perspective.RentalPrspective"
            icon="icons/Agency.png"
            id="com.opti.rental.ui.perspective.RentalPrspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.opti.rental.ui.MyPage"
            id="com.opti.rental.ui.page1"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%menu.label">
            <command
                  commandId="com.opti.rental.ui.helloworld"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <menu
               label="%menu.label.0">
            <command
                  commandId="com.opti.rental.ui.helloworld"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.opti.rental.ui.view.agency?after=additions">
         <menu
               label="%menu.label.1">
            <command
                  commandId="com.opti.rental.ui.helloworld"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         name="%extension.name"
         point="org.eclipse.ui.commands">
      <command
            id="com.opti.rental.ui.helloworld"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.opti.rental.ui.helloworld.SampleHandler"
            commandId="com.opti.rental.ui.helloworld">
      </handler>
   </extension>

</plugin>
